.operator-screen__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.operator-screen__flex--bar {
    margin: 10px;
    height: 200px;
    overflow: hidden;
    max-width: 480px;
    min-width: 450px;
    text-align: center;
    background-color: lightskyblue;
    border-radius: 15px;
}

.operator-screen__flex--bar-create {
    background-color: limegreen;
}

.operator-screen__a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    vertical-align: center;
}

.over-bootstrap__site .operator-screen__p {
    margin: 0;
    padding-top: 5px;
    color: white;
}

.over-bootstrap__site .operator-screen__a:hover {
    text-decoration: none;
}

.operator-screen__svg--operator {
    position: absolute;
    margin-top: 30px;
    margin-left: 10px;
    width: 150px;
    height: 150px;
}

.operator-screen__svg--car {
    position: absolute;
    margin-top: -10px;
    margin-left: -90px;
    width: 250px;
    height: 250px;
}

.operator-screen__svg--driver {
    position: absolute;
    margin-top: 20px;
    margin-left: -0px;
    width: 150px;
    height: 150px;
}

.operator-screen__svg--statistic {
    position: absolute;
    margin-top: 5px;
    margin-left: -20px;
    width: 170px;
    height: 170px;
}

.operator-screen__svg--data {
    position: absolute;
    margin-top: 12px;
    margin-left: -5px;
    width: 160px;
    height: 160px;
}

.operator-screen__svg--document {
    position: absolute;
    margin-top: 17px;
    margin-left: 22px;
    width: 130px;
    height: 130px;
}