.site {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

.layout-positioner {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

h1,
h2,
h3,
h4,
p,
a,
label,
input,
textarea,
button {
    font-family: "ProximaNova-Light", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 28px;
}

input,
textarea,
button {
    font-size: 18px;
    outline: none;
}

input {
    font-family: "ProximaNova-Light", Arial, sans-serif;
    padding-left: 10px;
    box-sizing: border-box;
}

input:focus,
button:focus {
    border: 3px solid lightskyblue;
    box-sizing: border-box;
}

button {
    color: white;
}

textarea {
    margin: 0;
    padding: 0;
}

button:hover {
    background-color: limegreen;
}