.data__flex p {
    position: absolute;
    margin-left: 300px;
    margin-top: 5px;
    padding: 5px 0 0 10px;
    height: 35px;
    width: 724px;
    color: white;
    background-color: lightskyblue;
    border-radius: 15px;
}
