.banner {
    margin: 0;
    height: 300px;
    background-color: lightgreen;
}

.banner__div {
    justify-content: space-between;

}

.banner__h1 {
    padding-top: 120px;
    font-size: 36px;
    text-align: left;
    font-weight: bold;
    color: white;
}

.banner__img {
    width: 400px;
}

.form-container__filter {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -10px;
    padding: 20px 0 0 20px;
}

.form-container__filter--black-list,
.form-container__filter--driver-rating {
    margin-left: 20px;
}

.driver-rating__variants {
    font-family: "ProximaNova-Light", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
}

.pagination-position {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 25px;
}

.drivers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.drivers__bar {
    padding: 0 20px;
    margin: 0 10px 20px 10px;
    width: 318px;
    min-height: 250px;
    color: white;
    background-color: lightskyblue;
    border-radius: 15px;
    box-sizing: border-box;
}

.over-bootstrap__form h2,
.over-bootstrap__form h3 {
    font-family: "ProximaNova-Light", Arial, sans-serif;
    font-weight: bold;
}

.bootstrap__site-header h1 {
    margin: 20px 0;
    font-weight: bold;
}

.over-bootstrap__form h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 24px;
    color: white;
}

.over-bootstrap__form h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: white;
}

.over-bootstrap__form p {
    color: white;
}

.over-bootstrap__form button {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 16px;
    color: lightskyblue;
    background-color: white;
    border: 3px solid white;
    border-radius: 15px;
}

.over-bootstrap__form button:hover{
    color: limegreen;
    background-color: white;
    border: 3px solid limegreen;
}

.drivers__bar--title,
.details__container {
    display: flex;
    justify-content: center;
}



/* Styles for mobile (320-768px) and tablet (768-1024px) app's versions */

@media (min-width: 320px) and (max-width: 768px) {
    .data__flex {
        display: block;
    }

    .banner__h1 {
        padding: 110px 20px 0 20px;
        text-align: center;
        color: white;
    }

    .banner__img {
        display: none;
    }

    .form-container__filter {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 20px 0 0 0;
        padding: 0;
        width: 100%;
    }

    .form-container__filter--black-list,
    .form-container__filter--driver-rating {
        margin-left: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .banner__h1 {
        padding-left: 20px;
    }

    .banner__img {
        padding-bottom: 20px;
    }

    .form-container__filter {
        display: flex;
        justify-content: center;
        margin-right: 20px;
    }

    .form-container__filter--driver-rating {
        margin-left: 20px;
    }
}

@media (min-width: 458px) and (max-width: 768px) {
    .form-container__filter--driver-rating {
        margin-left: 20px;
    }
}