.banner {
    margin: 0;
    height: 300px;
    background-color: lightgreen;
}

.banner_div {
    justify-content: space-between;

}

.banner_h1 {
    margin: 0;
    padding-top: 120px;
    font-size: 36px;
    text-align: left;
    color: white;
}

.banner_img {
    width: 400px;
}