.flex__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container__form--input {
    margin-bottom: 20px;
    height: 50px;
    width: 400px;
    border-radius: 15px;
    border: 1px solid lightgrey;
}

.form-container__form--button {
    height: 50px;
    width: 400px;
    border-radius: 15px;
    border: 0px solid lightgrey;
    background-color: lightskyblue;
}