.error-field {
    display: none;
    margin-top: 20px;
    font-size: 14px;
    min-height: 50px;
    width: 400px;
    color: red;
    word-wrap: break-word;
    background-color: transparent;
    border: 3px dashed red;
    border-radius: 15px;
    box-sizing: border-box;
}

p {
    margin: 5px 5px;
}