.site-header {
    min-height: 60px;
    min-width: 100%;
    background: rgb(238,83,53);
    background: linear-gradient(0deg, rgba(238,83,53,1) 0%, rgba(240,126,67,1) 100%);
}

.site-header__logo {
    padding-left: 5px;
    padding-top: 10px;
    height: 40px;
}

.site-header__button {
    margin-top: 5px;
    padding: 0 10px;
    height: 50px;
    border-radius: 15px;
    border: 0px solid lightgrey;
    background-color: transparent;
}

.flex__header--container {
    display: flex;
    justify-content: space-between;
}

.flex__header--button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}